@import '../../../../utils/scss/spaces';
@import '../../../../utils/scss/lineHeight';
@import '../../../../utils/scss/variables';
@import '../../../../utils/scss/fontSize';

.container {
  padding: getSpace(0.5) * 1px 0;
  padding-left: getSpace(2.5) * 1px;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: rgb(250, 250, 250);
  }
}

.imgContainer {
  margin-top: 2px;
  margin-left: 1px;
  cursor: pointer;
}
.img {
  width: 20px;
  height: 24px;
}

.text {
  margin-left: 11px;
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
  font-size: getFontSize(3) * 1px;
  color: $secondaryColor;
}
