@import '../../../utils/scss/variables';
@import '../../../utils/scss/lineHeight';

.closeButton {
  background: none;
  color: $tertiaryColor;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: map-get($map: $line-height, $key: 'medium') * 1px;
  outline: none;
}

.bigButton {
  background: none;
  color: $tertiaryColor;
  border: none;
  cursor: pointer;
  font-size: 30px;
  outline: none;
}
